* {
    margin: 0;
    padding: 0;
     color: whitesmoke;
    
}
body {
    font-family: "Ravi Prakash", system-ui;

}
.ravi-prakash-regular {
    font-family: "Ravi Prakash", system-ui;
    font-weight: 400;
    font-style: normal;
  }

/* enfait la class overlay permet de cacher le contenu pour l'instant, il existe bien mais la hauteur est a 0 donc on le voit pas  */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #373737;
    overflow: hidden;
    
    height: 0;
    transition: 0.5s all;
   
}

.stylising {
    background: linear-gradient(rgba(88, 52, 2, 0.6), rgba(255, 166, 0, 0.452)), 
              url('/images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover  ;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    
 
   
}
.taille {
    height: 200px;

}
.contract {
  
   padding: 200px;
   text-align: center;
   margin-bottom: 150px;
 
  
  
}
.titreprinc {
    font-size: 6rem;
    text-transform: uppercase;
   
}



/* ************section1***************** */


.section1 {
  
    background: 
    linear-gradient(rgba(4, 4, 34, 0), rgba(4, 4, 59, 0.664)), 
    url(./images/ambitious-studio-rick-barrett-Hw7hK-kYA-Q-unsplash.jpg) center/cover no-repeat fixed;
    width: 100%;
    height: 1500px;
   
    
 



}
.general {
    
   height: auto;
    width: 60%;
    position: absolute;
    margin-top: -100px;
    
    left: 50%;
    transform: translate(-50%, 0);
   

}
.sous-menu {
    display: grid;
   grid-template-columns: 33.33% 33.33% 33.33%;
    
}
.horary {
    background: 
    linear-gradient(rgba(1, 1, 15, 0.593), rgba(1, 1, 29, 0.736)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;

   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gender {
    background: 
    linear-gradient(rgba(1, 1, 15, 0.593), rgba(1, 1, 29, 0.736)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cocktail {
    background: 
    linear-gradient(rgba(1, 1, 15, 0.593), rgba(1, 1, 29, 0.736)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.section_container{
    margin-top: 60px;
    margin-bottom: 100px;
    
}
.items {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}


.sousmenu2 {

    display: grid;
    grid-template-columns: 50% 50%;
}
.menu1 {
    background: 
    linear-gradient(rgba(4, 4, 34, 0), rgba(4, 4, 59, 0.664)),  /* Superposition d'une couche bleu foncé avec transparence */
      url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;
   

}
.iamges-back {
    height: 60px;
}

/* partie un peu plus compliqué - avec les cocktails etc  */


.first-row {
    display: grid;
    grid-template-columns: 50% 50%;
}
.second-row {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.cocktail-item {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
   text-transform: initial;
    height: 300px;
    padding: 10px;
    line-height: 30px;
    position: relative;
    color: whitesmoke;
 
   
}
.cocktail-item img {
    width: 100px;
    
}
.cocktail-item h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* 2) quand ej pose ma souris dessus a ce moment la l'overlay va s'activer et passer de 0 height a height 100 */
.cocktail-item:hover .overlay {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 0.8rem;
    padding: 10px;
    
    
}

.cocktail-item:hover h4 {
    visibility: hidden;
}
.cocktail-item img {
    height: 30px;
    
}



section#cocktails img {
    height: 100px;
}
.sunmoon-banner{  background: 
    linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;
margin: 10px 10px 10px 0;}
.mentalux-banner{  background: 
    linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat;
margin: 10px 0 10px 0;}
.coco-banner{ background: 
    linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat; 
}
.citrinus-banner{  background: 
    linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat; 
margin: 0 10px 0 10px;}
.spicherry-banner{  background: 
    linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), /* Couche bleu foncé plus opaque */
    url('./images/adam-jaime-dmkmrNptMpw-unsplash.jpg') center/cover no-repeat; }
  